*{
 margin:0;
 padding:0;
 font-family: 'Work Sans', sans-serif;
}
.primary-btn{
 padding: 20px 24px;
 border: none;
 border-radius:10px ;
 font-weight: 600;
font-size: 20px;
color: #FFFFFF;
background-color: #ff900e;
}

/* Header + Bannar CSS  */

/* Header CSS */

.header-bannar{
 background: rgba(255, 144, 14, 0.1);
 width:100%;
 margin:0 auto ;
}
nav{
 display: flex;
 justify-content: center;
 gap: 700px;
 padding-top:50px;

}
nav ul{
 display: flex;
 align-items: center;
 gap: 50px;
}
nav ul li{
 list-style: none;
 font-weight: 500;
font-size: 18px;
color: #424242;

}
.header-title{
 font-weight: 700;
font-size: 45px;
color: #131313;
}

/* Bannar CSS */
.bannar{
display: flex;
justify-content: space-around;
flex-direction: column;
align-items: center;
margin-top: 105px;
gap: 50px;
padding-bottom: 45px;
}
.bannar-des-container{
text-align: center;
width: 870px;
}
.bannar-title{
 font-weight: 700;
font-size: 64px;
color: #131313;
}
.bannar-description{
 font-size: 16px;
 line-height: 26px;
 color: #727272;
 margin-bottom: 32px;
 
}

/* Main Section */
/* Photo + Feature CSS */

.photo-feature{
 display: flex;
 align-items: center;
 justify-content:center;
 margin-top: 85px;
 margin-bottom: 130px;
 gap: 75px;
}
.photo{
 display: grid;
 grid-template-columns: repeat(2,1fr);
 gap: 24px;
}
.feature{
 width: 540px;
}
.feature-title{
 font-weight: 500;
 font-size: 45px;
 color: #727272;
}
.feature-title strong{
 color: #131313;
}
.feature-title span{
 color:#FF900E;
}

.feature-description{
 font-weight: 400;
 font-size: 16px;
 color: #727272;
 margin-top: 24px;
 margin-bottom: 32px;
}

/* Exprience Detail Section CSS */

.exprience{
margin-bottom: 130px;
}
.exprience-details{
 display: flex;
 justify-content: center;
 gap: 55px;
}
.exprience-des{
 width: 586px;
 margin-top: 40px;
}
.exprience-title{
 font-weight: 700;
font-size: 45px;
color: #131313;
padding-left: 21px;
border-left: 5px solid #FF900E;
}
.exprience-photo{
 padding-left: 92px;
 padding-bottom: 77px;
}
.sub-des{
 font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #727272;
margin-top: 24px;
margin-bottom: 30px;
}
.description{
 padding: 30px;
 margin-top: 20px;
 background: #FFFFFF;
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
border-radius: 8px;
}
.description h2{
 font-weight: 600;
font-size: 20px;
line-height: 23px;
color: #131313;
}
.description p{
 font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #727272;

}
.btn-container{
 text-align: center;
 position: relative;
 bottom: 200px;
 left: 100px;
}
.btn-exprience{
 padding: 45px 42px;
 background-color: #ff900e;
 border: none;
 border-radius: 8px;
}
.btn-exprience h2{
 font-weight: 700;
 font-size: 65px;
 color: #FFFFFF;
 
}
.btn-exprience p{
 font-weight: 500;
font-size: 25px;
color: #FFFFFF;
}

/* Information Section CSS */

.fact{
 display:flex;
 justify-content:center;
 align-items: center;
 gap: 600px;
 margin-bottom: 130px;
}

.fact-container h2{
 font-weight: 700;
font-size: 45px;
color: #131313;
margin-bottom: 24px;
}
.fact-container p{
 font-weight: 400;
font-size: 16px;
color: #727272;
}

/* information */

.information{
 display: flex;
 justify-content:center;
 align-items: center;
 gap: 125px; 
 margin-bottom: 180px;
}
.info-container{
 padding: 45px 36px 60px 36px;
 border: 1px solid #FF900E;
 border-radius: 8px;
 text-align: center;
}
.info-container:hover{
 border:4px solid #0eff1e ;
 transition: .5s;
 transform: scale(1.1);
}
.info-container p{
 font-weight: 600;
font-size: 45px;
color: #424242;
margin-top: 10px;
margin-bottom: 5px;
}
.info-container h2{
 font-weight: 600;
font-size: 20px;
color: #727272;
}
.project h2{
 text-align: center;
 font-size: 45px;
 font-weight: 700;
 margin-bottom: 40px;
}
.projects{
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 80px;
 margin-bottom: 130px;
}
.projects img{
 height: 250px;
 width: 300px;
 border-radius: 10px;
}

/* sponsor section css */

.sponsor{
 text-align: center;
}
.sponsor-title{
 font-weight: 700;
font-size: 45px;
color: #131313;
}
.sponsor-description{
 margin-top: 24px;
 margin-bottom: 50px;
}
.brand{
display: flex;
justify-content: center;
align-items: center;
gap:155px ;
margin-bottom: 170px;
}
.brand img{
 filter: grayscale(100%);
 -webkit-filter: grayscale(100%);
}

/* Footer css */

.footer{
 display: flex;
 justify-content: center;
 align-items: center;
margin-bottom: 150px;
}
.footer-description{
  font-weight: 400;
 font-size: 20px;
 text-align: center;
 color: #424242;
 background-color: #fff4e7;
 padding: 40px 410px;
}


/* Responsive Part */


@media screen and (max-width:576px) {
 .header-bannar{
  width:100%;
 }
nav{
 flex-direction: column;
 gap: 30px;
 align-items: center;
}
nav ul,.photo-feature,.exprience-details,.information,.projects,.brand{
 flex-direction: column;
}
.bannar-des-container, .bannar-img
img,.feature,.exprience-des, .exprience-photo img{
  width: 100%;
  text-align: center;
 }
 .photo{
  grid-template-columns: repeat(1,1fr);
 }
 .exprience-photo{
  padding-left: 0px;
  padding-bottom: 0px;
 }
 .btn-container{
  left:0;
  bottom: 0;
  margin-top: 30px;
 }
 .fact{
    flex-direction: column;
    gap: 0;
    text-align: center;
 } 
 .footer{
  margin-bottom: 50px;
 }
 .footer-description{
padding: 10px;

 }
}